.data {
    font-size: 36px;
    color: tomato;
    font-weight: bold;
    text-align: center;
  }
  body{
      padding:0px;
  }

/*.bg {
    background-color: rgb(56, 56, 56);
}*/

.dataText {
    /*color: rgb(255, 255, 255);*/
    text-align: center;
}

.navbar {
    align-items: center;
}

.img {
    align-items: center;
    max-width:100%;
    height:auto;
}

.texth {
    text-align: center;
    font-weight: bold;
    
}

body {
    background-color: lightslategray;
}